@font-face {
    font-family: Syne;
    src: url(../font/syrine_typo_de_base/otf/Syne-Regular.otf);
}

@font-face {
    font-family: Doppelganger;
    src: url(../font/gros_titres_doppelganger/Doppelganger_Display.otf);
}

/* _______________________________________menus_____________________________________________________________________________ */

header {
    background-color: #1282A2;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed !important;
    width: 100%;
    height: 80px;
    z-index: 3;
}


header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #222C17;
}

.navbar{
    background-color: #1282A2;
}

.link-a {
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    font-family: Syne;
    color: #FFFFFF;
}

header a:hover,
header .menu-btn:hover {
    background-color: #f4f4f4;
    color: #000000;
}

.nav-logo {
    font-family: Doppelganger;
    font-size: 40px;
}
.r_part{
    margin-left: 62%;
}
.saucisse{
    background-color: #1282A2;
    z-index: 1000000 !important;

}

/* _______________________________________responsive mobille_____________________________________________________________________________ */

@media (max-width: 500px) {
    .navbar-toggler{
        margin-top: -1.25%;
    }
    .r_part{
        margin-left: 5%;
        }

    header {
        height: 60px;
    }
    
}


/* _______________________________________responsive Destop big_____________________________________________________________________________ */

@media (min-width: 1800px) {
    .r_part{
        margin-left: 68%;
    }
}