@font-face {
    font-family: Syne;
    src: url(../font/syrine_typo_de_base/otf/Syne-Regular.otf);
}

@font-face {
    font-family: Doppelganger;
    src: url(../font/gros_titres_doppelganger/Doppelganger_Display.otf);}

    body {background: #fafdfc !important;}


/* _______________________________________blocintro_____________________________________________________________________________ */
.blocintro{
    padding-top: 8%;
    text-align: center;
    justify-content: center;
    padding: 06% 15% 0%;
}

p{
    font-size: 20px;
}

.greytxt{
    color: grey;
    display: inline;
    font-size: 25px;
}
.images_1{
    margin-top: 5%;
}
.lelogo {
    margin-top: 05%;
    float: left;
    margin-left: 18%;
    position:absolute;
}

.contacttttt{
    font-size: 520px;
    font-family: Doppelganger;
    margin-top: -400px;
    position: absolute;
}

/* _______________________________________responsive 1er partie_____________________________________________________________________________ */
@media (max-width:767px) {
    .blocintro{
        padding-top: 20%;
    }
    .lelogo {
        margin-top: 05%;
        float: left;
        margin-left: 0%;
        position:absolute;
    }
    .contacttttt {
        font-size: 60px;
        margin-top: 0px;
        margin-left: 20%;
    }
    
}
/*
@media (max-width:767px) {
    .blocintro {
        padding-top: 20%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .greytxt {
        font-size: 25px;
    }

    .textintro {
        font-size: 15px;

    }

    .lelogo {
        margin-left: 25%;
        margin-top: -10%
    }

    .imagetop {
        margin-left: 5%;
        width: 100%;
    }

    .contactp1 {
        margin-top: -0px;
    }
    /* _______________________________________responsive 2ème partie_____________________________________________________________________________ */
    /*
    .ImageDR {
        width: 120%;
        margin-top: 90px;
    }
    .contactp1, .contactp2 {
        margin-top: 0px;
        font-size: 15px;
    }
    .contactp2{
        margin-top: 90px;
    }
    .blablapluss {
        font-size: 15px;
    }
    .contacttttt {
        font-size: 120px;
        margin-top: 0px;
        margin-left: 20%;
    }

} */